li{
  list-style: none;
}
.display{
  margin-top: 100px;
  text-align: center;
}
.nameInput{
  height: 50px;
  margin-bottom: 6px;
  text-align: center;
}
.player1 h1{
  color: #6699ff;
}
.player2 h1{
  color: #ff6666;
}
.healthbar{
  background-color: #e6e6e6;
}

#player1HealthBar{
  color: white;
  padding: 15px;
  background-color: green;
}
#player2HealthBar{
  color: white;
  padding: 15px;
  background-color: green;
}
.damagePopUp{
  font-family: 'Pangolin', cursive;
  font-size: 30px;
  color: red;
  position: absolute;
  right: 5px;
  top: 30px;
}
.healPopUp{
  font-family: 'Pangolin', cursive;
  font-size: 30px;
  color: #6699ff;
  position: absolute;
  right: 5px;
  top: 30px;
}
.menu{
  text-align: center;
  margin-top: 50px;
}
.menu-second button{
  width: 150px;
  margin: 0 30px;
  box-shadow: 5px 5px #d6d6c2;
}
.log{
  height: 100%;
  margin-top: 30px;
  text-align: center;
}
.log ul li{
  font-weight: bold;
}
.gif{
  padding: 0;
  text-align: center;
  margin: 10px auto;
}
.gif img{
  padding: 0;
  display: block;
  margin: 0 auto;
}
.reset{
  margin-top: 10px;
  width: 150px;
}
