li{
  list-style: none;
}
.display{
  margin-top: 100px;
  text-align: center;
}
.player h1{
  color: #6699ff;
}
.monster h1{
  color: #ff6666;
}
.healthbar{
  background-color: #e6e6e6;
}

#playerHealthBar{
  color: white;
  padding: 15px;
  background-color: green;
}
#monsterHealthBar{
  color: white;
  padding: 15px;
  background-color: green;
}
.damagePopUp{
  font-family: 'Pangolin', cursive;
  font-size: 30px;
  color: red;
  position: absolute;
  right: 5px;
  top: 30px;
}
.healPopUp{
  font-family: 'Pangolin', cursive;
  font-size: 30px;
  color: #6699ff;
  position: absolute;
  right: 5px;
  top: 30px;
}
.menu{
  text-align: center;
  margin-top: 50px;
}
.menu-second button{
  width: 150px;
  margin: 0 30px;
  box-shadow: 5px 5px #d6d6c2;
}
.log{
  height: 100%;
  margin-top: 30px;
  text-align: center;
}
.log ul li{
  font-weight: bold;
}
